@page
@model MSUDTrack.WebApp.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

@section  Styles {
    <style>
        .inputs:nth-child(1) {
            width: 100px;
            padding-right:20px;
        }

        .inputs:nth-child(2) {
            width: 120px;
        }
    </style>
}

<form method="post">
    <section class="mdl-layout__tab-panel is-active">
        <div class="page-content flex-column">
            <div class="flex flex-grow-1 justify-content-center">
                <select style="margin-top:10px">
                    <option>Purple - Red</option>
                </select>
            </div>
            <div class="flex flex-grow-1 justify-content-center">
                <ul class="demo-list-control mdl-list">
                    @for (int i = 0; i < Model.Children.Count; i++)
                    {
                        var age = DateTime.Now.Year - Model.Children[i].Birthday.Year;
                        // Go back to the year the person was born in case of a leap year
                        if (Model.Children[i].Birthday.Date > DateTime.Now.AddYears(-age)) { age--; };
                        <li class="mdl-list__item mdl-list__item--two-line">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                                <span>@Model.Children[i].Name</span>
                                <span class="mdl-list__item-sub-title">@age yr. (@Model.Children[i].Birthday.ToShortDateString())</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                                <span class="mdl-list__item-secondary-info">Active</span>
                                <a class="mdl-list__item-secondary-action">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-@i" oninput="document.getElementById('@Model.Children[i].Id').click()">
                                        <input type="checkbox" id="list-checkbox-@i" class="mdl-checkbox__input" checked="@(Model.Children[i].IsActive ? "checked" : "")" />
                                    </label>
                                </a>
                            </span>
                        </li>
                        <button id="@Model.Children[i].Id" class="mdl-button close" style="display: none;" asp-page-handler="DeleteChild" asp-route-id="@Model.Children[i].Id">Cancel</button>
                    }
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <input type="button" class="mdl-button mdl-js-button mdl-button--primary add-button" onclick="showDiag()" asp-page-handler="" value="Add Person" />
                    </li>
                </ul>
            </div>
            @if (Model.Children.Count > 0)
            {
                <div class="flex flex-grow-1 justify-content-center">
                    <div class="flex-row">
                        <div class="flex-grow-1 inputs">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="number" id="leucine_exchange" value="@Model.Children.FirstOrDefault(c => c.IsSelected).LeucineMultiple" />
                                <label class="mdl-textfield__label" for="leucine_exchange">Leucine Exchange</label>
                            </div>
                        </div>
                        <div class="flex-grow-1 inputs">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="number" id="leucine_daily_count" value="@Model.Children.FirstOrDefault(c => c.IsSelected).LeucineDailyCount" />
                                <label class="mdl-textfield__label" for="leucine_exchange">Leucine Daily Count</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="flex flex-grow-1 justify-content-center">
                <p class="settings-paragraphs">
                    This app is a beta app intended to be used as a nutritional tracking app for MSUD patients.
                    <br />
                    <br />
                    For you developers, this is an ASP.Net Core WebApp with Material Design Lite styling. I'm using a postgresql database with Npgsql connector.
                    <br />
                    <br />
                    App notebook icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </p>
            </div>
            <div class="flex flex-grow-1 justify-content-center">
                <button asp-controller="Account" asp-action="Logout" method="post" class="mdl-button mdl-js-button mdl-button--primary add-button">Logout</button>
            </div>
        </div>

        <dialog class="mdl-dialog">
            <h4 class="mdl-dialog__title">Add Child</h4>
            <div class="mdl-dialog__content">
                <p>
                    Enter the information below to add a child. All fields must be filled.
                </p>
                <input type="hidden" asp-for="NewChild.Id" />
                <input type="hidden" asp-for="NewChild.IsActive" />
                <input type="hidden" asp-for="NewChild.IsSelected" />
                <input type="hidden" asp-for="NewChild.Created" />
                <input type="hidden" asp-for="NewChild.Updated" />
                <div>
                    <label>Name</label>
                    <input asp-for="NewChild.Name" />
                </div>
                <div>
                    <label>Birthday</label>
                    <input asp-for="NewChild.Birthday" />
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button class="mdl-button" asp-page-handler="AddChild">Save</button>
                <button type="button" class="mdl-button close">Cancel</button>
            </div>
        </dialog>
    </section>
</form>

@section Scripts  {
    <script>
        var dialog = document.querySelector('dialog');

        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }

        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });

        function showDiag() {
            dialog.showModal();
        }
    </script>
}
