@page
@model TodayModel
@inject MSUDTrack.Services.FoodsService foodsService
@{
    ViewData["Title"] = "Today";
}

@section  Styles {
    <style>
        .period {
            background-color:#e91e6361;
        }

        .period > td {
            border:0;
            padding:16px !important;
        }

        .food-select {
            width:300px;
        }

        td {
            padding: 0 !important;
        }

        .nutri-inputs {
            width:40px;
            border:none;
        }

        .material-icons {
            color:red !important;
            font-size:20px !important;
        }

        input:focus {
            outline:none;
        }

        tr {
            width:350px !important;
            padding:0 !important;
        }

        .period:hover{
            background-color:#e91e6361 !important;
        }

        tr:hover {
            background-color:inherit !important;
        }

        .mdl-data-table {
            width:350px;
        }
    </style>
}

<section class="mdl-layout__tab-panel is-active">
    <div class="page-content flex-column">
        <div class="flex flex-grow-1 justify-content-center">
            <div class="align-text-center">
                @{
                    var leucineMG = Model.TodaysLog.Periods.Sum(p => p.Records.Sum(r => r.LeucineMilligrams));
                    var face = "";
                    if(leucineMG == 0)
                    {
                        face = "";
                    }
                    else if (leucineMG <= 500)
                    {
                        face = ":)";
                    } else if (leucineMG > 500)
                    {
                        face = ":(";
                    }
                }
                <h3 class="name-title">@Model.TodaysLog.Child.Name</h3>
                <h4 class="leucine-title">@(leucineMG)mg total/@(Model.TodaysLog.Child.LeucineDailyCount - leucineMG)mg left @face</h4>
            </div>
        </div>
        <div class="flex flex-grow-1 justify-content-center">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>

                </thead>
                @for (int i = 0; i < Model.TodaysLog.Periods.Count; i++)
                {
                    <tr class="add-button @Model.TodaysLog.Periods[i].Period.Id period">
                        <td class="mdl-data-table__cell--non-numeric" colspan="5">
                            <span class="mdl-list__item-primary-content">
                                @Model.TodaysLog.Periods[i].Period.Name
                            </span>
                        </td>
                    </tr>
                    @for (int ii = 0; ii < Model.TodaysLog.Periods[i].Records.Count; ii++)
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <select class="food-select @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].Name">
                                    @if (Model.TodaysLog.Periods[i].Records[ii].Name == null)
                                    {
                                        <option value="" disabled selected>Select a food...</option>
                                    }
                                    @if (Model.TodaysLog.Periods[i].Records[ii].Name != null)
                                    {
                                        <option selected="selected" value="default">@Model.TodaysLog.Periods[i].Records[ii].Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="text" placeholder="P. g" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].ProteinGrams" />
                            </td>
                            <td>
                                <input type="text" placeholder="L. mg" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].LeucineMilligrams" />
                            </td>
                            <td>
                                <input type="text" placeholder="W. g" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].WeightGrams" />
                            </td>
                            <td>
                                <button class="delete-button @Model.TodaysLog.Periods[i].Records[ii].Id mdl-button mdl-js-button mdl-button--icon" asp-page-handler="">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</section>