@page
@model TodayModel
@inject MSUDTrack.Services.FoodsService foodsService
@{
    ViewData["Title"] = "Today";
}

<style>
    .period {
        background-color:grey;
    }

    .mdl-list__item {
        min-height: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mdl-list {
        width:350px;
    }
</style>

<section class="mdl-layout__tab-panel is-active">
    <div class="page-content flex-column">
        <div class="flex flex-grow-1 justify-content-center">
            <div class="align-text-center">
                <h3 class="name-title">Geneva</h3>
                <h4 class="leucine-title">Today 55mg :)</h4>
            </div>
        </div>
        <div class="flex flex-grow-1 justify-content-center">
            <ul class="mdl-list">
                @for (int i = 0; i < Model.TodaysLog.Periods.Count; i++)
                {
                    <li class="mdl-list__item period">
                        <span class="mdl-list__item-primary-content">
                            @Model.TodaysLog.Periods[i].Period.Name
                        </span>
                    </li>
                    @for(int ii = 0; ii < Model.TodaysLog.Periods[i].Records.Count; ii++)
                    {
                <li class="mdl-list__item">
                    @*<div class="ui search selection dropdown">
                <input type="hidden" id="@Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].FoodId" />
                <i class="dropdown icon"></i>
                <div class="default text">Select food</div>
                <div class="menu">
                    @foreach (var food in Model.Foods)
                    {
                        <div class="item" data-value="@food.Id">@food.Name</div>
                    }
                </div>
            </div>*@
                    @{
                        var a = Model.TodaysLog.Periods[i].Records[ii];
                    }
                    <select class="food-select @Model.TodaysLog.Periods[i].Records[ii].Id" asp-items="@(new SelectList(Model.Foods,"Id","Name"))">
                        <option selected disabled value="@Model.TodaysLog.Periods[i].Records[ii].FoodId">@Model.TodaysLog.Periods[i].Records[ii].Food.Name</option>
                    </select>
                    <input type="text" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].Food.ProteinGrams" />
                    <input type="text" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].Food.LeucineMilligrams" />
                </li>
                    }
                }
            </ul>
        </div>
    </div>
</section>
