@page
@model TodayModel
@inject MSUDTrack.Services.FoodsService foodsService
@{
    ViewData["Title"] = "Today";
}

@section  Styles {
    <style>
        .period {
            background-color:#cd448e47;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .mdl-list__item {
            min-height: 0 !important;
            padding-top: 0;
            padding-bottom: 0;
            padding-left:2px;
            padding-right:2px;
            overflow:unset !important;
        }

        .food-select {
            width:300px;
        }

        .mdl-list {
            width:350px;
            border-radius: .28571429rem;
            border: 1px solid rgba(34,36,38,.15);
            padding:0 !important;
        }

        .nutri-inputs {
            width:40px;
            border:none;
        }

        .material-icons {
            color:red !important;
        }

        .add-button {
            width: 100%;
            height: 40px;
            background: none;
            border: none;
            text-align:right;
            font-weight:bold;
        }

         input:focus {
             outline:none;
         }
    </style>
}

<section class="mdl-layout__tab-panel is-active">
    <div class="page-content flex-column">
        <div class="flex flex-grow-1 justify-content-center">
            <div class="align-text-center">
                @{
                    var leucineMG = Model.TodaysLog.Periods.Sum(p => p.Records.Sum(r => r.LeucineMilligrams));
                    var face = "";
                    if(leucineMG == 0)
                    {
                        face = "";
                    }
                    else if (leucineMG <= 500)
                    {
                        face = ":)";
                    } else if (leucineMG > 500)
                    {
                        face = ":(";
                    }
                }
                <h3 class="name-title">@Model.TodaysLog.Child.Name</h3>
                <h4 class="leucine-title">Today @(leucineMG)mg @face</h4>
            </div>
        </div>
        <div class="flex flex-grow-1 justify-content-center">
            <ul class="mdl-list">
                @for (int i = 0; i < Model.TodaysLog.Periods.Count; i++)
                {
                    <li class="mdl-list__item period">
                        <span class="mdl-list__item-primary-content">
                            @Model.TodaysLog.Periods[i].Period.Name
                            <button class="add-button @Model.TodaysLog.Periods[i].Period.Id">+</button>
                        </span>
                    </li>
                    @for (int ii = 0; ii < Model.TodaysLog.Periods[i].Records.Count; ii++)
                    {
                        <li class="mdl-list__item">
                            <select class="food-select @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].Name">
                                @if (Model.TodaysLog.Periods[i].Records[ii].Name == null)
                                {
                                    <option value="" disabled selected>Select a food...</option>
                                }
                                @if (Model.TodaysLog.Periods[i].Records[ii].Name != null)
                                {
                                    <option selected="selected" value="default">@Model.TodaysLog.Periods[i].Records[ii].Name</option>
                                }
                            </select>
                            <input type="text" placeholder="P. g" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].ProteinGrams" />
                            <input type="text" placeholder="L. mg" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].LeucineMilligrams" />
                            <input type="text" placeholder="W. g" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].WeightGrams" />
                            <button class="delete-button @Model.TodaysLog.Periods[i].Records[ii].Id mdl-button mdl-js-button mdl-button--icon" asp-page-handler="">
                                <i class="material-icons">delete</i>
                            </button>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</section>