@page
@model TodayModel
@inject MSUDTrack.Services.FoodsService foodsService
@{
    ViewData["Title"] = "Today";
}

    <style>
        .period {
            background-color:#d7d2d2;
            padding:10px !important;
        }

        .nutri-inputs {
            width:90px;
        }

        .add-button {
            width: 100%;
            height: 40px;
            background: none;
            border: none;
        }

        .list-button {
            border: 0 !important;
            background: none !important;
            box-shadow: none !important;
        }

        .name-title {
            margin-bottom: 0;
        }

        .leucine-title {
            margin-top: 0;
            padding-bottom:10px;
        }

        section {
            padding:10px;
        }

        .ui.segment {
            padding:0;
        }

        div > .ui.dropdown {
            border: 0 !important;
        }
    </style>

<section>
    <div class="flex-column">
        <div class="flex flex-grow-1 justify-content-center">
            <div class="align-text-center">
                @{
                    var leucineMG = Model.TodaysLog.Periods.Sum(p => p.Records.Sum(r => int.Parse(r.Food.LeucineMilligrams)));
                }
                <h1 class="name-title">@Model.TodaysLog.Child.Name</h1>
                <h2 class="leucine-title">Today @(leucineMG)mg @(leucineMG < 300 ? ":)" : ":(")</h2>
            </div>
        </div>
        <div class="flex flex-grow-1 justify-content-center">
            <div class="ui segment">
                <div class="ui fluid list">
                    @for (int i = 0; i < Model.TodaysLog.Periods.Count; i++)
                    {
                        <div class="item period">
                            @Model.TodaysLog.Periods[i].Period.Name
                        </div>
                        @for (int ii = 0; ii < Model.TodaysLog.Periods[i].Records.Count; ii++)
                        {
                            <div class="item">
                                <div class="ui search selection dropdown">
                                    <input type="hidden" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select type</div>
                                    <div class="menu">
                                        <div class="item" data-value="">(None)</div>
                                        @foreach (var type in Model.Foods)
                                        {
                                            <div class="item" data-value="@type.Id">@type.Name</div>
                                        }
                                    </div>
                                </div>
                                <select class="food-select @Model.TodaysLog.Periods[i].Records[ii].Id" asp-items="@(new SelectList(Model.Foods,"Id","Name"))">
                                    <option selected disabled value="@Model.TodaysLog.Periods[i].Records[ii].FoodId">@Model.TodaysLog.Periods[i].Records[ii].Food.Name</option>
                                </select>
                                <input type="text" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].Food.ProteinGrams" />
                                <input type="text" class="nutri-inputs @Model.TodaysLog.Periods[i].Records[ii].Id" value="@Model.TodaysLog.Periods[i].Records[ii].Food.LeucineMilligrams" />
                                <button class="delete-button @Model.TodaysLog.Periods[i].Records[ii].Id ui button list-button" asp-page-handler="">
                                    <i class="red trash alternate icon"></i>
                                </button>
                            </div>
                        }
                        <div class="item">
                            <button class="add-button @Model.TodaysLog.Periods[i].Period.Id">Add</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>